/* generic styling for home component*/

@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');
html, body{
    margin:0;
    padding:0;
    text-align:center;
}

*{
    font-family:'Readex Pro', sans-serif;
}

.primary-button{
    color:#fff;
    text-transform: uppercase;
    font-size: 15px;
    padding: 12px 30px;
    border-radius: 30px;
    border:none;
    background: linear-gradient(45deg, #ff4949, #ff834f);
}
.primary-title{
    font-size: 50px;
    color:#fff;
}

.primary-button:hover{
    background: linear-gradient(260deg,  #ff4949, #ff834f);
}

.secondary-button{
    color:#717172;
    background-color: #fff;
    font-weight: 500px;
    font-size: 15px;
    text-transform: uppercase;
    padding: 12px 30px;
    border-radius: 30px;
    border: solid 2px #717172;
    margin: 6px;
}

.secondary-button:hover{
    color:#4e4e50;
    background:linear-gradient(45deg,  #ff4949, #ff834f);
}

/*=============== Styling for Navbar======================= */
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

nav .nav-button{
    color:#ff4949;
    background-color: #fff;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    border:none;
    margin: 10px;
    height: 50px;
}

nav .nav-button:disabled{
    background-color: #919da5;
    color: #9ed8f7;
}

nav .logo-container{
    width:290px;
    margin-left: 15px;
    margin-top: 15px;
}

nav .logo-container .logo{
    height: 83px;
    width: 100%;
}


/* ========Home page============== */
.overlay{
    width:100vw;
    height:100vw;
    position:fixed;
    
    background: linear-gradient(
        to bottom,
        #636f76,
        #dde7e5
    );
    background-image: url('background6.jpg');
    background-repeat:no-repeat;
    background-size:contain;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
    width: 100%;
    height: 100%;
    
}

.home{
    margin-top:30vh;
}

/* =========Auth-modal-==================== */
.auth-modal{
    position: absolute;
    left:0;
    right:0;
    top:100px;
    margin-left:auto;
    margin-right:auto;
    max-width: 360px;
    height: 500px;
    background-color: #fff;
    border-radius: 10px;
    padding: 40px;
}
.auth-modal .close-icon{
    float: right;
}

.auth-modal form{
    display: flex;
    flex-direction: column;
}

.auth-modal input[type=password],
.auth-modal input[type=email]{
    padding: 8px;
    margin:8px;
    font-size: 17px;
}


/* =========Onboarding Page=============== */
.page{
    background-image: url('background6.jpg');
    background-repeat:no-repeat;
    background-size:contain;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
    width: 100%;
    height: 100%;
}
.Onboarding form{
    display: flex;
    justify-content: center;
}

.Onboarding form section{
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 35%;
    text-align: start;
}

.Onboarding form input{
    padding: 15px 30px;
    margin:10px 0;
    font-size: 15px;
    border: solid 2px #919da5;
    border-radius: 10px;
}

.Onboarding form input::-webkit-outer-spin-button,
.Onboarding form input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin:0
}

.Onboarding form label{
    margin: 10px 0;
}

.Onboarding form .multiple-input-container{
    display: flex;
    flex-direction: row;
}

.Onboarding form .multiple-input-container input{
    margin-right: 10px;
}

.Onboarding form .multiple-input-container label{
    padding:10px;
    border: solid 2px #919da5;
    border-radius: 10px;
    transition: all 0.3s;
    margin-right: 10px;
}

.Onboarding form input[type="number"]{
    width:10%;
}

.Onboarding form input[type="radio"]{
    display: none;
}
.Onboarding form input[type="radio"]:checked+label{
    border: solid 2px #ff4949;
}

.Onboarding form input[type="submit"]:hover{
    background-color: #fff;
}

.Onboarding form input[type="submit"]:active{
    background-color: #ff834f;
}

.Onboarding form .photo-container img{
    width:100%;
}



/* ================Dashboard================ */

.dashboard{
    display: flex;
    justify-content: space-between;
}

.dashboard .swipe-container{
    width:70%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:100vh;
}
.swipe {
    position: absolute;
  }
  

.dashboard .card-container {
    width: 400px;
    height: 550px;
  }
  
  .card {
    position: relative;
    background-color: #fff;
    width:400px;
    height:550px;
    box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.20);
    border-radius: 30px;
    background-size: cover;
    background-position: center;
  }
  
  .cardContent {
    width: 100%;
    height: 100%;
  }
  
  /* .swipe:last-of-type {
  
  } */
  
  .card h3 {
    position: absolute;
    bottom: 0;
    margin: 10px;
    color: #fff;
  }

  .dashboard .swipe-info{
    position: absolute;
    bottom:0;
    padding:10px;
  }

  /* ==========Chat Container============== */
  .chat-container{
    background-color: #fff;
    box-shadow: rgba(0,0,0,0.05) 0px 6px 24px 0px, rgba(0,0,0,0.08) 0px 0px 0px 1px;
    width: 30%;
    text-align: left;
    /* padding-left: 5px; */
    z-index: 1;
  }

  .chat-container .chat-container-header{
    background: linear-gradient(45deg, #ff4949, #ff834f);
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .chat-container .option{
    border:none;
    background-color:#fff;
    border-bottom: solid 4px #ff4949;
    font-size: 20px;
    margin:2px;
    padding: 10px;
  }

  .chat-container .option:disabled{
    border-bottom: solid 4px #717172;
  }
  .chat-container .logout-icon,
  .chat-container .profile{
    padding:20px;
    display: flex;
    align-items: center;
    color: #fff;
  }

  .img-container{
    height:30px;
    width: 30px;
    border-radius: 15px;
    overflow:hidden;
    margin:10px;
  }
  .img-container .img{
    width: 100%;
  }

  /* ==========Chat display============ */

  .chat-display{
    padding:20px;
    height:60vh;
    overflow-y:auto;
  }

  .chat-input{
    padding:20px;
    display: flex;
    flex-direction: column;
  }
