/* generic styling for home component*/

@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');
html, body{
    margin:0;
    padding:0;
    text-align:center;
}

*{
    font-family:'Readex Pro', sans-serif;
}

.primary-button{
    color:#fff;
    text-transform: uppercase;
    font-size: 15px;
    padding: 12px 30px;
    border-radius: 30px;
    border:none;
    background: linear-gradient(45deg, #30b6fe, #40ffd9);
}
.primary-title{
    font-size: 50px;
    color:#fff;
}

.primary-button:hover{
    background: linear-gradient(260deg, #30b6fe, #40ffd9);
}

.secondary-button{
    color:#717172;
    background-color: #fff;
    font-weight: 500px;
    font-size: 15px;
    text-transform: uppercase;
    padding: 12px 30px;
    border-radius: 30px;
    border: solid 2px #717172;
    margin: 6px;
}

.secondary-button:hover{
    color:#4e4e50;
    background:linear-gradient(45deg, #30b6fe, #40ffd9);
}

/*=============== Styling for Navbar======================= */
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

nav .nav-button{
    color:#30b6fe;
    background-color: #fff;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    border:none;
    margin: 10px;
}

nav .nav-button:disabled{
    background-color: #919da5;
    color: #9ed8f7;
}

nav .logo-container{
    width:150px;
    margin: 15px;
}

nav .logo-container .logo{
    height: 40px;
    width: 100%;
}


/* ========Home page============== */
.overlay{
    width:100vw;
    height:100vw;
    position:fixed;
    background: linear-gradient(
        to bottom,
        #636f76,
        #dde7e5
    )
}

.home{
    margin-top:30vh;
}

/* =========Auth-modal-==================== */
.auth-modal{
    position: absolute;
    left:0;
    right:0;
    top:100px;
    margin-left:auto;
    margin-right:auto;
    max-width: 360px;
    height: 500px;
    background-color: #fff;
    border-radius: 10px;
    padding: 40px;
}
.auth-modal .close-icon{
    float: right;
}

.auth-modal form{
    display: flex;
    flex-direction: column;
}

.auth-modal input[type=password],
.auth-modal input[type=email]{
    padding: 8px;
    margin:8px;
    font-size: 17px;
}